<header class="w-100 position-fixed bg-charcoal z-3">
    <div class="d-flex w-100 justify-content-between align-items-center pt-8 pb-3 px-4 bg-charcoal">
      <%= link_to settings_api_v1_user_path(current_user) do %>
              <%= image_tag "chevron-left.svg", alt: "chevron", class: "w-6" %>
      <% end %>
      <div class="flex-1 text-center">
          <h6 class="mx-auto text-light-gray text-uppercase fw-semibold font-jost">Edit profil</h6>
      </div>
      <%= link_to settings_api_v1_user_path(current_user) do %>
              <i class="fa-sharp fa-solid fa-gear fa-lg text-light-gray opacity-50"></i>
      <% end %>
    </div> 
</header>