<header class="w-100 position-fixed bg-charcoal">
    <div class="d-flex w-100 justify-content-between aligne-items-center pt-8 pb-3 px-4">
        <%= link_to root_path do %>
        <%= image_tag "chevron-left.svg", alt: "chevron", class: "w-6" %>
        <% end %>
        <div class="flex-1 text-center mr-3">
        <h6 class="mx-auto text-light-gray text-uppercase fw-semibold font-jost">Sign in</h6>
        </div>
        <div class="w-6"></div>
        </div> 
    </div>
</header>