<%= render 'banner' %>
<div class="mt-3">
    <ul class="list-group text-center  my-2">
        <li class="mb-1">
            <%= link_to 'Login', new_user_session_path, class: 'text-charcoal fw-semibold text-decoration-none' %>
        </li>
        <li class="mb-1">
            <%= link_to "Sign up", new_user_registration_path, class: "text-blue text-decoration-none" %>
        </li>
    </ul>
    <div class="bg-yellow position-fixed bottom-0 w-100 py-1"></div>
</div>