<header class="bg-white">
    <div class="d-flex w-100 justify-content-between aligne-items-center pt-8 pb-3 px-4">
    <%= link_to root_path do %>
        <%= image_tag "chevron-left.svg", alt: "chevron", class: "w-6" %>
    <% end %>
    </div>
</header>