<header class="w-100 position-fixed bg-charcoal">
    <div class="d-flex w-100 justify-content-between align-items-center pt-8 pb-4 px-4  bg-charcoal">
      <%= link_to :back do %>
              <%= image_tag "chevron-left.svg", alt: "chevron", class: "icon w-6 align-middle" %>
      <% end %>
      <div class="flex-1 text-center ml-[14px]">
          <h6 class="mx-auto align-middle text-light-gray text-uppercase fw-semibold font-jost">Chats</h6>
      </div>
      <%= link_to repertoire_api_v1_user_path(current_user), class: "ml-2" do %>
              <%= image_tag "edit.svg", alt: "edit", class: "w-5 icon align-middle" %>
      <% end %>
    </div> 
</header>