<div class="custom-background custom-height">
    <h1 class="d-flex align-items-center justify-content-center text-charcoal custom-height fw-semibold text-uppercase d-md-none font-jost">LinkSphere</h1>
</div>
